@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BDAT1001-IES-Group14</h1>
    <p>Please Test the Web App Using the Credentials below:
        <ul>
            <li>
                admin@ies14.com : IES-Group14
            </li>
            <li>
                manager@ies14.com : IES-Group14
            </li>
            <li>
                other@ies14.com : IES-Group14
            </li>
        </ul>
    </p>
</div>
